/* __________________________________________________________ colors.scss */
/////////////////////////////////////////////////////////////////////////////

$color-page-bg: #F2F2F2;
$color-green: #6AC694; // 106, 198, 148
$color-dark-green: #29774A;

/////////////////////////////////////////////////////////////////////////////