// https://css-tricks.com/conditional-media-query-mixins/

@mixin bp($point) {
  
  $bp-tablet: '(min-width: 640px)';
  $bp-desktop: '(min-width: 1440px)';
  $bp-lg-desktop: '(min-width: 1600px)';

  @if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == desktop {
    @media #{$bp-desktop} { @content; }
  }
  @else if $point == lrg-desktop {
    @media #{$bp-lrg-desktop}  { @content; }
  }

}